<div class="container-fluid animazione">
  <div class="container ">
    <h1 class="display-5 ">About me</h1>
    <div class="coolDiv">
      <div class="p-4">
        <div class="allineamento">
          <div class="">
            <h2 class="text-start fs-1 mb-3">Ciao, sono Simone</h2>
            <p class="fs-4">Ho 23 anni e vedo la tecnologia come uno stumento per l'espressione di se stessi. <br> <br> Durante l'adolescenza mi sono interessato di arti visive digitali, e dopo il diploma ho lavorato per più di un anno come fotografo/videomaker. <br> <br>Dall'inizio del 2024, dopo qualche altra <a routerLink="/curriculum" id="esperienze">esperienza lavorativa</a>, mi sono interessato allo Sviluppo Web.</p>
          </div>
          <div class="div-foto">
            <img src="../../../assets/jpg/IMG_7784-Modifica.jpg" alt="foto" class="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
