<div class="container-fluid pb-5 animazione" id="contenitoreAll">
  <div class="container">
    <p id="web" class="animazione">Web Developer</p>
    <div class="caroselli">
      <div class="container ps-1">
        <p class="animazione testo m-0">Le mie competenze in ambito <button class="orange-btn" role="button"
            routerLink="web">Web</button></p>
        <app-carousel></app-carousel>
      </div>
      <div class="container ps-1">
        <p class="animazione mb-3 testo">Le mie competenze in ambito <button class="blue-btn" role="button"
            routerLink="tech">Tech</button></p>
        <app-carousel-tech></app-carousel-tech>
      </div>
    </div>
  </div>
