.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 5px 10px;
  background-color: #FF8C0A;
  color: #fbfbef;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s;
}

#freccia {
  background-color: #FF8C0A;
}

.scroll-to-top.show {
  opacity: 1;
}

.scroll-to-top.hide {
  opacity: 0;
}


#linkedin{
  margin-left: 2em;
  margin-top: 13px;
}


