<div class="container-fluid animazione">
  <div class="container">
    <h1 class="display-5">Esperienze</h1>
    <div class="coolDiv">
        <div class="d-flex flex-wrap flex-md-nowrap p-0">
          <div class="p-">
            <a href="https://www.linkedin.com/public-profile/settings?trk=d_flagship3_profile_self_view_public_profile" target="_blank">
              <img src="../../../assets/CV Simone Acquadro_page-0001.jpg" alt="curriculum" class="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
