* {
  font-family: "Inter", sans-serif;
  color: #fbfbef;
  max-width: 100%;

}

body {
  background-color: #353535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root {
  background-color: #353535;
  min-height: 100vh;
}

$blue-tech: #332dff;
$orange-web: #FF8D0A;
$blue-tech-scuro: #0600B8;
$orange-web-scuro: #cc6d00;

.coolDiv {
  border-radius: 28px;
  -webkit-box-shadow: inset 0px 0px 89px -32px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: inset 0px 0px 89px -32px rgba(0, 0, 0, 0.55);
  box-shadow: inset 0px 0px 89px -32px rgba(0, 0, 0, 0.55);
  overflow: hidden;
  background-color: #292929 !important;
}

.animazione {
  animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
