h2 {
  text-align: right;
  margin-right: 10px;
  margin-bottom: 1.6rem;
  margin-top: 7rem;
  font-size: 6rem;
}

@media (min-width: 320px) {

  h2 {
  font-size: 2rem;
  margin-top: 4rem;
}

}

@media (min-width: 768px) {
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1440px) {
  h2 {
    font-size: 4.5rem;
  }
}

